%button-basics {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: .45s linear;
    &:hover {
        background: #fff;
        cursor: pointer;
    }  
    &:enabled {
        outline: none;
    }
}

%centerX {
    left: 50%;
    transform: translateX(-50%);
}

%edit-box-buttons-hover {
    &:hover {
        color: rgba(255, 255, 255, .2);
        cursor: pointer;
    } 
}

%forms-basics { 
    position: absolute;
    @extend %centerX;

    width: 270px;
    padding: 20px;
    z-index: 200;

    background: #000;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 15px #000;
    
    box-sizing: border-box;
}

%input-basics {
    background: #000;
    margin: 5px 10px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    &.wrong {
        border-bottom: 1px solid red;
    }

    &:enabled {
        outline: none;
    }
}

.main-block {
    position: relative;
    margin: 30px auto;
    width: 550px;

    padding: 10px;

    color: #fff;
    text-shadow:  1px .5px rgba(255, 255, 255, .4);
    background: #000;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 15px #000;
    
    .main-block__header  {
        text-align: center;

        font-size: 26px;
        margin: 10px;

        border-bottom: 1px solid #fff;
    }
}


.addNewWorker {
    position: relative;
    display: block;

    @extend %centerX;
}


.main-block__table {
    display: table;

    position: relative;

    margin: 50px 0 30px;

    text-align: center;
    @extend %centerX;
    &-menu {
        font-size: 20px;
        div:hover {
            cursor: pointer;
            text-shadow: 1px 1px 4px #fff;
        }
    }
    > * div {
        display: table-cell;
        padding: 10px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;

        width: 100px;
        &:first-child  {border-left: none;}
        &:nth-child(2) {width: 135px;}
        &:nth-child(3) {width: 150px;}
    }
    &-list {
        display: table-row;
        .main-block__table-list-worker {
            display: table-row;
            &:hover {
                cursor: pointer;
            }
            &.chosen {
                background: rgba(255, 255, 255, .2);
            }
        }
    }
}
.main-block__button-open {
    position: absolute;
    @extend %centerX;

    width: 150px;
    height: 25px;
    font-size: 20px;

    text-align: center;
    box-sizing: border-box;

    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        left: -120px;

        width: 120px;
        height: 23px;

        border-top: 1px solid  rgba(255, 255, 255, .5);
        border-bottom: 1px solid  rgba(255, 255, 255, .5);
        transition: .5s linear;
    }
    &:hover {cursor: pointer;}
    &:hover::after {
        left: 150px;
    }
}

.main-block__form {
    @extend %forms-basics;

    p {
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
    }
    form {
        text-align: center;
        margin: 10px 0;
        input {
            @extend %input-basics;
        }
    }
    .form__button-back {
        @extend %button-basics;
    }
    
    .form__button-submit {
        position: relative;
        left: 120px;
        @extend %button-basics;
    } 
}


.edit-block {
    position: absolute;
    top: 50px;
    right: 15px;

    padding: 5px;
    text-align: end;
    .edit-block-button-edit {
        @extend %edit-box-buttons-hover;
    }
    .edit-block-button-remove {
        margin-bottom: 5px;
        @extend %edit-box-buttons-hover;
    }
}

.edit-block__form {
    @extend %forms-basics;
    left: -205px;
    top: 5px;
    form {
        text-align: center;
        margin: 10px 0;
        input {
            @extend %input-basics;
        }
    }

    button {
        @extend %button-basics;
    }
    &-button-back {
        position: relative;
        left: -100px;
    }

}



